apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  namespace: lab5-app
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-path
  hostPath:
    path: /data/mysql
    type: DirectoryOrCreate
