apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: lab5-app
spec:
  type: ClusterIP
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
