apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-deployment
  namespace: lab5-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: mohamedessid/lab5-web:1.0
          ports:
            - containerPort: 5000
          env:
            - name: DB_HOST
              value: "db-service"
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              value: "appuser"
            - name: DB_PASSWORD
              value: "apppassword"
            - name: DB_NAME
              value: "appdb"
