apiVersion: v1
kind: Service
metadata:
  name: backend-api-service
  namespace: final-exam
  labels:
    app: backend-api
spec:
  type: ClusterIP
  selector:
    app: backend-api
  ports:
  - port: 3000
    targetPort: 3000
    name: http
