apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: three-tier-app
  labels:
    app: backend
    tier: backend
spec:
  type: NodePort
  selector:
    app: backend
    tier: backend
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30001
      name: http
