apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: three-tier-app
  labels:
    app: frontend
    tier: frontend
spec:
  type: NodePort
  selector:
    app: frontend
    tier: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30000
      name: http
